<!DOCTYPE html>
<html lang="en">
<head>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Checkout</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <style>
    .card {
      width: 300px;
      margin-right: 10px;
    }

    .card-img {
      height: 200px;
      object-fit: cover;
    }

    .container {
      margin-top: 50px;
    }

    .checkout-heading {
      margin-bottom: 20px;
      font-weight: bold;
    }

    .total-amount {
      margin-top: 20px;
      font-weight: bold;
    }
  </style>
</head>
<body>
  <div class="container">
    <h2 class="checkout-heading">Checkout</h2>
    <% if (cartItems.length > 0) { %>
      <div class="row">
        <% cartItems.forEach(function(item) { %>
          <div class="col-md-4 mb-4">
            <div class="card">
              <div class="row no-gutters">
                <div class="col-md-4">
                  <img src="<%= item.image %>" class="card-img" alt="<%= item.name %>">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title"><%= item.name %></h5>
                    <p class="card-text">Price: $<%= item.price %></p>
                    <button onclick="removeItem('<%= item.id %>')" class="btn btn-danger">Remove</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% }) %>
      </div>
      <p class="total-amount">Total Amount: $<%= calculateTotalAmount(cartItems) %></p> <!-- Added total amount section -->
    <% } else { %>
      <p>No items in the cart.</p>
    <% } %>
      <button onClick="redirectTocheck()" type="submit" class="btn btn-primary">Proceed to Buy</button>   
    
    <a href="/" class="btn btn-primary">Back to Store</a>
    <button onclick="redirectToHomepage()" class="btn btn-primary">Go to Homepage</button>
  </div>
  <script>
     function redirectTocheck() {
      window.location.href = "/payment"; 
    }
    function redirectToHomepage() {
      window.location.href = "/"; 
    }

    function removeItem(itemId) {
      axios.post("/delete-item", { itemId: itemId })
        .then(function(response) {
          window.location.reload(); 
        })
        .catch(function(error) {
          console.error(error);
        });
    }
  </script>
</body>
</html>
