<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HAPPY FEET STORE</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <style>
        .header {
            display: flex;
            align-items: center;
            justify-content: space-around;
            padding: 20px;
            background-color: rgb(0, 0, 0);
            color: white;
            font-size: 40px;
            text-shadow: #333;
            font-weight: bold;
        }
        .pagination-container {
            display: flex;
            justify-content: flex-end;
            margin-top: 20px;
        }

        .pagination {
            display: flex;
            list-style: none;
            margin: 0;
            padding: 0;
        }

        .page-item {
            margin: 0 2px;
        }

        .page-item a {
            display: inline-block;
            padding: 5px 10px;
            text-decoration: none;
            background-color: #f2f2f2;
            color: #333;
            border: 1px solid #ccc;
            border-radius: 3px;
        }

        .page-item.active a {
            background-color: #007bff;
            color: #fff;
        }

        .search-bar {
            width: 300px;
            height: 40px;
            border: none;
            padding: 5px;
            font-size: 18px;
        }

        .search-button {
            padding: 5px 10px;
            background-color: #007bff;
            color: #fff;
            border: none;
            cursor: pointer;
            font-size: 16px;
        }

        .cart-icon {
            display: flex;
            align-items: center;
            text-decoration: none;
            color: white;
        }

        .cart-icon svg {
            width: 24px;
            height: 24px;
            margin-right: 5px;
        }

        .new-arrivals {
            margin-top: 10px;
            margin-bottom: -50px;
        }

        .search-button:hover {
            background-color: #0056b3;
        }

        .edit-delete-buttons {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 10px;
        }

        .edit-delete-buttons a {
            text-decoration: none;
            margin-right: 10px;
        }
        .checkout-icon{
            margin-left:10px;
            /* display:flex; */
            color:white;
            padding-left:15px;
        }
        
      
    </style>
</head>

<body>
    <div class="header">
        <div class="title">Happy Feet Store</div>
        <div class="logo">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ4EQ-3sH8o3A6RKsuU0fa2-f9pfx39bjRQFg&usqp=CAU" style="width: 100px; height: 90px;">
        </div>
        <form action="/search" method="GET" class="d-flex">
            <input type="text" class="form-control mr-2" name="query" placeholder="Search...">
            <button type="submit" class="btn btn-primary">Search</button>
            <a href="/cart" class="cart-icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
                    <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                </svg>
            </a>
                <a href="/checkout-page" class="checkout-icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-basket" viewBox="0 0 16 16">
                <path d="M5.757 1.071a.5.5 0 0 1 .172.686L3.383 6h9.234L10.07 1.757a.5.5 0 1 1 .858-.514L13.783 6H15a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1v4.5a2.5 2.5 0 0 1-2.5 2.5h-9A2.5 2.5 0 0 1 1 13.5V9a1 1 0 0 1-1-1V7a1 1 0 0 1 1-1h1.217L5.07 1.243a.5.5 0 0 1 .686-.172zM2 9v4.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V9H2zM1 7v1h14V7H1zm3 3a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 4 10zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 6 10zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 8 10zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 1 .5-.5zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 1 .5-.5z"/>
              </svg>
                </a>
        </form>
    </div>
    <h2 class="new-arrivals" style="font-weight: bold; text-align: left; margin-top: 7px;">New Arrivals</h2>
    <br>
    <br>
    <hr>
    <section class="show">
        <div class="row">
            <% shoes.forEach(function(product){ %>
            <div class="col-md-4 mb-4">
                <div class="card">
                    <a href="/<%= product.id %>/edit">
                        <img src="<%= product.image %>" class="card-img-top" alt="Shoes Image">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title"><%= product.name %></h5>
                        <p class="card-text"><%= product.price %></p>
                        <p class="card-text"><%= product.description %></p>
                        <form action="/<%= product.id %>/add-to-cart" method="POST" style="display: inline;">
                            <button class="btn btn-primary">Add to Cart</button>
                        </form>
                    </div>
                    <div class="edit-delete-buttons">
                        <a href="/<%= product.id %>/edit" class="btn btn-primary btn-sm">Edit</a>
                        <form action="/<%= product.id %>/delete" method="POST" style="display: inline;">
                          <input type="hidden" name="_method" value="DELETE">
                          <button class="btn btn-danger btn-sm">Delete</button>
                        </form>
                      </div>                      
                </div>
            </div>
            <% }) %>
        </div>

        <% if (pages > 1) { %>
            <div class="pagination-container">
                <ul class="pagination">
                    <% if (pageNumber > 1) { %>
                    <li class="page-item">
                        <a class="page-link" href="/?page=<%= pageNumber - 1 %>">&laquo;</a>
                    </li>
                    <% } %>
                    <% for (let i = 1; i <= pages; i++) { %>
                    <li class="page-item <%= (i === pageNumber) ? 'active' : '' %>">
                        <a class="page-link" href="/?page=<%= i %>"><%= i %></a>
                    </li>
                    <% } %>
                    <% if (pageNumber < pages) { %>
                    <li class="page-item">
                        <a class="page-link" href="/?page=<%= pageNumber + 1 %>">&raquo;</a>
                    </li>
                    <% } %>
                </ul>
            </div>
            <% } %>
    </section>

    <script>
        document.querySelector('.cart-icon').addEventListener('click', () => {
            window.location.href = '/cart';  //event listener concept
        });
    </script>
</body>

</html>
