<h2>Search Results for "<%= query %>"</h2>
<% if (results.length === 0) { %>
  <p>No results found.</p>
<% } else { %>
  <ul>
    <% results.forEach(function (result) { %>
      <li>
        <a href="/<%= result.id %>">
            <img src="<%= result.image %>" alt="<%= result.name %>">
          <%= result.name %>
        </a>
      </li>
    <% }) %>
  </ul>
<% } %>
